.header{ 
  margin-top: 10px ;
  flex: 13;
  
}
.headerTitle{
 
    display: flex;
    flex-direction: column;
    align-items:center;
}

.headerimage{
   width: 100%; 
   position:static;
   overflow-y: hidden;
   object-fit: cover;
   margin-top: 10px;
  
}

.headerTitleSm{
    position: absolute;
    top: 18%;
    font-size: 30px;

}
.headerTitleLg{

    position: absolute;
    top: 14%;
    font-size: 15px;
}