.top{
    width: 100%;
    height: 50px;
    position:fixed;
    top: 0;
    display:flex;
    align-items: center;
    background-color: white;
    z-index:1000;
}
.topleft,.topright{
   flex: 3;
   display: flex;
   justify-content: center;
   align-items: center;
}

.topicon{
    margin: 10px;
    cursor: pointer;
    color:green;
    color:l;
    
}
.topcenter{
 flex: 6;  

}

.myimage{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.topList{
    display:flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;
}
.topListItem{
    margin-right: 18px;
    font-family: sans-serif;
    font-weight: 300px;
    padding-top: 15px;
    cursor:pointer;
}
.searchIcon{
    cursor: pointer;
    color: blue;
    margin-left:15px;
}

.top-1{
    color:blue
}
.top-2{
    color:darkblue;
}
.top-3{
    color:green;
}
.top-4{
    color: #ff7a93;
    color: #8a3ab9;
}